version: '3.8'

services:
  kestra:
    image: kestra/kestra:latest
    user: "root"
    build:
      context: .
    command: server standalone -f /app/flows/
    volumes:
      - kestra-data:/app/storage
      - /var/run/docker.sock:/var/run/docker.sock
      - /tmp/kestra-wd:/tmp/kestra-wd
      - ./flows:/app/flows/
      - ../terraform/keys/my-credentials.json:/tmp/my-credentials.json
      - ../dbt:/app/dbt/
    environment:
      GOOGLE_APPLICATION_CREDENTIALS: "/tmp/my-credentials.json"
      DBT_PROFILES_DIR: "/app/dbt"
      KESTRA_CONFIGURATION: |
        datasources:
          postgres:
            url: jdbc:postgresql://postgres:5432/kestra
            driverClassName: org.postgresql.Driver
            username: kestra
            password: k3str4
        kestra:
          server:
            basicAuth:
              enabled: false
              username: "admin@localhost.dev" # it must be a valid email address
              password: kestra
          repository:
            type: postgres
          storage:
            type: local
            local:
              basePath: "/app/storage"
          queue:
            type: postgres
          tasks:
            tmpDir:
              path: /tmp/kestra-wd/tmp
          url: http://localhost:8080/
    ports:
      - "8080:8080"
      - "8081:8081"
    depends_on:
      postgres:
        condition: service_started


  postgres:
    image: postgres:16
    container_name: postgres
    environment:
      POSTGRES_DB: kestra
      POSTGRES_USER: kestra
      POSTGRES_PASSWORD: k3str4
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  kestra-data:
  postgres-data: